<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/common_header :: common_header(~{::title},~{::link},~{})">
	<meta charset="UTF-8">
	<title>登录</title>
</head>
<body>

<div class="header-simple">
	<div class="wd-1200 ma">
		<a href="/">
			<!--<img class="va-md" src="https://bnmpstyle.bookuu.com/www/images/icon/logo.png" alt="">-->
		</a>
	</div>
</div>
	<div class="login-banner-wrap">
		<div class="content">
			<div class="login-form fr">
				<div class="bb-1-e8">
					<p class="fs-16 cl-bl-l">惠融用户登录</p>
				</div>
				<ul class="mt-20">
					<li class="item pr" style="zoom: 1;">
						<div class="fl login-user ta-ct">
							<label for="phone">
								<span class="icon-zzperson-line4">&#xe966;</span>
							</label>
						</div>
						<input class="fl" id="phone" type="text" placeholder="请输入手机号/用户名" name="user-name">
						<span class="icon-zzwrong-block fs-16 cl-67">&#xe967;</span>
						<div class="cb"></div>
					</li>
					<li class="item mt-20 pr" style="zoom: 1;">
						<div class="fl login-user ta-ct">
							<label for="password">
								<span class="icon-zzlock-line">&#xe965;</span>
							</label>
						</div>
						<input class="fl" id="password" type="password" name="user-password">
						<div class="cb"></div>
					</li>
					<li class="mt-20">
						<div class="fl pr-10">
							<div class="fl">
								<label for="authcode">
									<p class="lh-38">验证码：</p>
								</label>
							</div>
							<input id="authcode" class="br-4 fl" type="text" name="passport" maxlength="4">
							<div class="cb"></div>
						</div>
						<div class="fl lh-40">
							<img class="va-md pr-10 check_img" src="/authcode.php" alt="">
							<a class="cl-bl get_authcode" href="javascript:void(0);">换一张</a>
						</div>
						<div class="cb"></div>
					</li>
					<li class="mt-10">
						<!-- .reg-err 表单错误信息显示区域 除了找回密码发送验证 不用cl-rd 其余所有错误同意使用cl-rd -->
						<div class="fl reg-err">

						</div>
						<div class="fr"><p><a class="cl-bl" href="passport/retrieve.php">找回密码</a></p></div>
						<div class="cb"></div>
					</li>
					<li>
						<button onclick="login(this)" style="cursor:pointer" class="login-btn fs-16 lh-2p4" type="button">登录</button>
						<p class="fs-12 cl-rd">若因帐号升级，若您无法正常登录，请尝试找回密码。</p>
					</li>
					<li class="mt-20">
						<div class="fl pr-50">
							<a href="//www.bookuu.com/passport/thirdparty/qqlogin.php?referer=aHR0cDovL3d3dy5ib29rdXUuY29tL3VzZXIvaW5kZXgucGhwPw=="><img
									class="va-md mr-5"
									src="https://bnmpstyle.bookuu.com/www/images/passport/qq-block.png" alt="">QQ登录</a>
						</div>
						<div class="fl">
							<a href="//www.bookuu.com/passport/thirdparty/alilogin.php?referer=aHR0cDovL3d3dy5ib29rdXUuY29tL3VzZXIvaW5kZXgucGhwPw=="><img
									class="va-md mr-5"
									src="https://bnmpstyle.bookuu.com/www/images/passport/zhifu-block.png" alt="">支付宝登录</a>
						</div>
						<div class="cb"></div>
					</li>
					<li class="mt-10">
						<div class="login-reg lh-38 ta-ct">
							<a class="cl-bl" href="passport/register.php">马上注册新用户</a>
						</div>
					</li>
				</ul>
			</div>
			<div class="cb"></div>
		</div>
	</div>


</body>
</html>
